<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta
      name="description"
      content="Products Listing App"
    />
    <meta name="author" content="Timileyin Farayola">
    <meta name="theme-color" content="rgb(146, 85, 217)">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <title>Add Product Page</title>
  </head>
  <body>
    <header id="header">
      <div id="title-div">
        <h2>Product Add</h2>
        <div id="action-btn" class="flex-column">
            <button class="btn btn-outline-success">Save</button>
            <button class="btn btn-outline-danger">Cancel</button>
        </div>
    </div>
      <hr/>
    </header>
    <main id="main-content">
        <form id="product-form" action="">
            <div class="container-fluid">
              <div class="flex-column form-input-group">
                <div class="input form-group">
                  <label for="sku">SKU </label>
                  <div>
                  <input class="form-control" type="text" placeholder=" #sku" name="sku" id="sku" required>
                  <small class="form-text text-muted">Error occured!</small>
                  </div>
                </div>
                <div class="input form-group">
                  <label for="name">Name </label>
                  <div>
                  <input class="form-control" type="text" placeholder=" #name" name="name" id="name" required>
                  <small class="form-text text-muted">Error occured!</small>
                  </div>
                </div>
                <div class="input form-group">
                  <label for="price">Price ($) </label>
                  <div>
                  <input class="form-control" type="text" placeholder=" #price" name="price" id="price" required>
                  <small class="form-text text-muted">Error occured!</small>
                  </div>
                </div>
                <div class="input form-group">
                  <label for="productType">Type Switcher </label>
                  <div>
                  <select class="form-control" name="productType" id="productType" required>
                    <option value="#">Type Switcher</option>
                    <option value="DVD" id="DVD">DVD</option>
                    <option value="Furniture" id="Furniture">Furniture</option>
                    <option value="Book" id="Book">Book</option>
                  </select>
                  <small class="form-text text-muted">Error occured!</small>
                  </div>
                </div>
                <div id="dvd-text">
                  <div class="input form-group">
                    <label for="size">Size (MB) </label>
                    <div>
                    <input class="form-control" type="text" placeholder=" #size" name="size" id="size" required>
                    <small class="form-text text-muted">Error occured!</small>
                    </div>
                  </div>
                </div>
                <div id="book-text">
                  <div class="input form-group">
                    <label for="weight">Weight (KG) </label>
                    <div>
                    <input class="form-control" type="text" placeholder=" #weight" name="weight" id="weight" required>
                    <small class="form-text text-muted">Error occured!</small>
                    </div>
                  </div>
                </div>
                <div id="furniture-text">
                  <div class="input form-group">
                    <label for="height">Height (CM) </label>
                    <div>
                    <input class="form-control" type="text" placeholder=" #height" name="height" id="height" required>
                    <small class="form-text text-muted">Error occured!</small>
                    </div>
                  </div>
                  <div class="input form-group">
                    <label for="width">Width (CM) </label>
                    <div>
                    <input class="form-control" type="text" placeholder=" #width" name="width" id="width" required>
                    <small class="form-text text-muted">Error occured!</small>
                    </div>
                  </div>
                  <div class="input form-group">
                    <label for="length">Length (CM) </label>
                    <div>
                      <input class="form-control err" type="text" placeholder=" #length" name="length" id="length" required>
                      <small class="form-text text-muted err-text text-hide">Error occured!</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
      </main>
  </body>
</html>
